html,
body {
    font-family: 'Futura', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@font-face {
    font-family: Pixel;
    src: url('PixelEmulator.otf');
}


/*NAV BAR*/

header {
    color: white;
    font-weight: 500;
    font-family: 'Pixel', sans-serif;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(128, 0, 128, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 30px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Pixel', sans-serif;
    display: block;
}

.navbar .navbar-nav .nav-link {
    margin-left: 60px;
    color: white !important;
    font-size: 1.2rem;
}

.navbar .nav-link:hover {
    text-shadow: 0px -2px 25px #C852FF;
}


/*Rush Rhees */

div.rushRhees {
    background: transparent url('../img/try.png') no-repeat center center /cover;
    width: 100%;
    height: 55rem;
}

.logo {
    width: 70%;
}


/*For Cell Phone*/

@media only screen and (max-width: 567px) {
    div.rushRhees {
        background: transparent url("../img/mobile.png") no-repeat center center /cover;
        width: 100%;
        height: 60rem;
    }
    .logo {
        width: 100%;
    }
}


/*Under RushRhees Info */

#date {
    font-family: 'Pixel', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

#virtual {
    font-family: 'Pixel', sans-serif;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: -2px;
    font-size: 2rem;
    color: white;
}

@media only screen and (max-width: 567px) {
    #virtual {
        font-family: 'Pixel', sans-serif;
        font-weight: 700;
        margin-top: 0px !important;
        margin-bottom: 5px !important;
        font-size: 20px;
        color: white;
    }
    #date {
        font-family: 'Pixel', sans-serif;
        font-weight: 500;
        color: white;
        margin-bottom: 5px !important;
        font-size: 14px;
    }
}


/* buttons */

.buttons {
    height: 10rem;
    width: 30rem;
    border-radius: 65px !important;
    border-width: 10px !important;
    border-color: #F9F9F9 !important;
    box-shadow: 0 16px 16px 0 rgba(64, 42, 133, 0.2), 0px 20px 30px 20px rgba(64, 42, 133, 0.19);
    background-color: #230C49 !important;
    color: white !important;
}


.buttons:hover:enabled {
    background-color: #2a0e57 !important;
    box-shadow: 0 16px 16px 0 rgb(64 42 133 / 80%), 0px 5px 30px 20px rgb(64 42 133 / 80%);
}

.buttonLabel {
    color: white;
    font-size: 2rem;
    font-family: Pixel;
}

.buttonIcon {
    height: 100px;
}

@media only screen and (max-width: 567px) {
    .buttons {
        height: 100px;
        width: 300px;
        border-radius: 50px !important;
        border-width: 5px !important;
        border-color: #F9F9F9 !important;
        box-shadow: 0 8px 8px 0 rgba(64, 42, 133, 0.2), 10px 10px 20px 10px rgba(64, 42, 133, 0.19);
        background-color: #230C49 !important;
        color: white !important;
    }
    .buttonLabel {
        color: white;
        font-size: 20px;
        font-family: Pixel;
        margin-bottom: 15px;
    }
    .buttonIcon {
        margin: 10px;
        height: 50px;
    }
}


/*
Section Stuff
 */

 .section{
     margin-bottom: 70px;
 }

.sectionTitle {
    font-size: 6rem;
    font-weight: 800;
    font-family: 'Pixel', 'Open Sans', sans-serif;
    font-style: normal;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-shadow: 0px -2px 25px #C852FF;
    margin-bottom: 20px;
}

.sectionSubTitle {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Pixel', 'Open Sans', sans-serif;
    font-style: normal;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.sectionParagraph {
    font-size: 1.5rem;
    font-family: 'Futura', sans-serif;
    color: #FFFFFF;
}

.sectionCenter {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 1000px;
    text-align: center;
}

.sectionImage {
    height: 30rem;
}

@media only screen and (max-width: 567px) {
    .sectionTitle {
        font-size: 3rem;
    }
    .sectionSubTitle {
        font-size: 2rem;
    }
    .sectionImage {
        height: 8rem;
    }
}

.sponsor-logos .mtbank{
    width: 40%;
}

.sponsor-logos .mlh{
    width: 8%;
}

.sponsor-logos img{
    width: 10%;
    cursor:pointer;
    margin: 0 20px;
}


/*
CARDS FOR FAQ
 */

.answer {
    color: white;
    cursor: pointer;
}

.cardTitle {
    font-size: 1.3rem;
    color: white;
    font-family: 'Pixel';
    letter-spacing: 0.08em;
}

.card>.card-header {
    border: 8px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px !important;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 567px) {
    .cardTitle {
        font-size: 0.8rem;
        padding: 5px;
    }
    .card>.card-header {
        border: 4px solid #FFFFFF;
        border-radius: 25px !important;
        height: 90px;
    }
}

.coming-soon {
    font-family: 'Pixel', sans-serif;
    color: white;
    font-size: 2rem;
}

.coming-soon-lg {
    font-family: 'Pixel', sans-serif;
    color: white;
    font-size: 5rem;
}

@media only screen and (max-width: 567px) {
    .coming-soon {
        font-size: 1.5rem;
    }
    .coming-soon-lg {
        font-size: 2rem;
    }
}

/*
CARDS FOR TRACKS
 */

 h3{
    color: white;
    font-family: 'Pixel', sans-serif;
 }

.main-track-cards{
    margin-bottom:40px;
 }

.track-card{
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    padding: 50px 30px;
    width: 350px;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-challenges-track-cards .track-card{
    padding: 40px 20px;
    width: 300px;
    height: 250px;
}

.workshops-track-cards .track-card h3{
    font-size: 20px;
}

.workshops-track-cards .track-card{
    height: 170px;
    margin: 30px;
}

.track-card h3, .track-card h4, .track-card h5 {
    font-family: 'Pixel', sans-serif;
}

.track-card h3 {
    margin-bottom: 20px;
}

.track-card h5 {
    font-size: 15px;
}

.track-card p{
    color: #F5E1FF;
}




/*
FOOTER
*/

#footer {
    background-color: #1C1C6E;
}
