#home{
  background-color: #63CCFD;

}
.navbar{
  font-family: 'Open Sans', sans-serif ;
  display: block;
  font-size: 20px;
  font-weight: 600;
}
.navbar .navbar-nav .nav-link {
  margin-left: 60px;
}

.navbar .navbar-nav a{
color: #4E7B93 !important;
}
.navbar .nav-link:hover{
color: white !important;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(174, 231, 248, 0.842) ;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 30px;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
 font-family:'Muli', sans-serif;
display: block;
  font-size: 40px;
}

.overlay a:hover, .overlay a:focus {
  color: #4E7B93;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.nav-icon{
   font-size:30px;
   cursor:pointer;
   display: block;
   text-align: right;
}
.navbar {
    background-color: #B2EDFF; 
}

.row{
  margin-left: 0px !important;
}
#dandy_hacks{
  height: 50%;
  width: 50%;
}
#home{
margin-top: 86px;
}
#about{
  background-color: #7FC876;
}

.row #about-element{
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: left;
  color: #FFFFFF;
}
.row #about-element-fox{
  margin-top: 50px;
}
.row h2{
  font-family: 'Open Sans', sans-serif ;
  text-align: center;
  font-weight: 700;
  color: #308726;
  text-align: center;
  font-size: 45px;
}
.registration{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  
}
#help{
  background-color: #7FC876;
}

#fox_hammock{
  height: 400px;
  width: 450px;
}
#help_images{
  height: 100%;
  width: 50%;
}
#help_image_fox{
  height: 100%;
  width: 43%;
}
.help_elements {
  display: flex;
  flex: row;
}
#meridian{
  height: 20%;
  width: 70%;
}
figcaption{
  color: white;
  font-family: 'Open Sans', sans-serif ;
  font-size: 45px;
  font-weight: 600;
}
  
  ::-webkit-input-placeholder {
    text-align: left;
  }
  
  :-moz-placeholder {
    text-align: left;
  }
  input[type="text"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: right; 
} 
#linkedin{
    padding: 0px 3px;
}
a{
    text-decoration: none;
}

#facebook{
  width:9.5%;
  height: 9.5%;
  padding: 0px 4px;
}
@media(max-width: 900px) {
    #flower{
      height: 120px;
      width: 80px;
      margin-top: 40px;
      }
      #logo{
        height: 70px;
        width: 110px;
      }
      #footer{
        font-size: 12px;
      }
  } 
  